version: '2'
services:
  nr-daemon:
    image: newrelic/php-daemon
  mariadb:
    image: bitnami/mariadb
    volumes:
      - 'mariadb_data:/bitnami/mariadb'
    environment:
      - MARIADB_USER=bn_wordpress
      - MARIADB_DATABASE=bitnami_wordpress
      - ALLOW_EMPTY_PASSWORD=yes
  wordpress:
    image: 'hessel81.azurecr.io/wordpress-apache:v5.7.2.0-nr'
    ports:
      - '8080:8080'
      - '8443:8443'
    volumes:
      - 'wordpress_data:/bitnami/wordpress'
    depends_on:
      - mariadb
      - nr-daemon
    environment:
      - MARIADB_HOST=mariadb
      - MARIADB_PORT_NUMBER=3306
      - WORDPRESS_DATABASE_USER=bn_wordpress
      - WORDPRESS_DATABASE_NAME=bitnami_wordpress
      - ALLOW_EMPTY_PASSWORD=yes
      - WORDPRESS_HTACCESS_OVERRIDE_NONE=no
      - WORDPRESS_HTACCESS_PERSISTENCE_ENABLED=yes
      - WORDPRESS_SCHEME=https
volumes:
  mariadb_data:
    driver: local
  wordpress_data:
    driver: local